.main_info {
    margin: 0px auto;
    display: flex;
    width: 500px;
    height: 596px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_title h3 {
   font-weight: 600;
}

.main_login {
    display: flex;
    flex-direction: column;
}

.main_login h4 {
    margin: 0px 0px 10px;
}

.main_login .id_login {
    margin-bottom: 10px;
}

.main_login .id_login h4 {
    font-style: italic;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.main_login .id_login .id_input {
    height: 25px;
    cursor: pointer;
}

.main_login .id_login .id_input:hover{
    background-color: rgb(219, 219, 219);
}

.main_login .pwd_login{
    margin-bottom: 20px;
}

.main_login .pwd_login h4 {
    font-style: italic;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.main_login .pwd_login .pwd_input {
    height: 25px;
    cursor: pointer;
}

.main_login .pwd_login .pwd_input:hover {
    background-color: rgb(219, 219, 219);
}

.main_login .btn_login {
    display: flex;
    justify-content: space-between;
}

.main_login .btn_login .btn_join {
    height: 40px;
    cursor: pointer;
}

.main_login .btn_login .btn_join:hover {
    background-color: rgb(219, 219, 219);
}

.main_login .btn_login .btn_hint {
    height: 40px;
    cursor: pointer;
}

.main_login .btn_login .btn_hint:hover {
    background-color: rgb(219, 219, 219);
}

